<!-- ./views/show.handlebars -->
{{!-- <div class="container py-5">
  <div class="text-center">
    <h1 class="mb-4">Jurassic World: Fallen Kingdom</h1>
    <img class="rounded mb-4" src="https://movie-list.alphacamp.io/posters/c9XxwwhPHdaImA2f1WEfEsbhaFB.jpg"
      alt="Card image cap" style="max-height: 300px;">
  </div>
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <p class="text-secondary mb-1">
        <strong>release date:</strong>
        2018-06-06
      </p>

      <p>
        Several years after the demise of Jurassic World, a volcanic eruption threatens the remaining dinosaurs on the
        island of Isla Nublar. Claire Dearing, the former park manager and founder of the Dinosaur Protection Group,
        recruits Owen Grady to help prevent the extinction of the dinosaurs once again.
      </p>
    </div>
  </div>
</div> --}}
<div class="container py-5">
  <div class="text-center">
    <h1 class="mb-4">{{movie.title}}</h1>
    <img class="rounded mb-4" src="https://movie-list.alphacamp.io/posters/{{movie.image}}" alt="Card image cap"
      style="max-height: 300px;">
  </div>
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <p class="text-secondary mb-1">
        <strong>release date:</strong>
        {{movie.release_date}}
      </p>

      <p>
        {{movie.description}}
      </p>
    </div>
  </div>
</div>